body {
  background: linear-gradient(to bottom right, pink, orange);
  font-size: 20px;
  color: white;
  font-family: arial;
  width: 500px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: cursive;
  margin: auto;
  padding-top: 10px;
}

img {
  padding-top: 20px;
  padding-bottom: 10px;
}
