body {
  background: linear-gradient(to bottom right, #1ac6ff, #00ffcc);
}

.item img{
  max-width: 100%;
  padding: 10px;
}

.item.col1of4 {
  height: 400px;
}

.main {
  margin-top: 60px;
}

.main img {
  max-width: 100%;
  padding: 30px;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004d99;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*.button {
  display: block;
  border-bottom: 1px solid black;
  padding: 10px;
  font-family: arial;
  font-size: 20px;
}*/
