h1{


}

body{
font-family: arial;
font-weight: bold;
background-color: black;
color: white;

}

a{
color: red;

}

p{


}

.row{
border-bottom: 1px solid white;

}

.col{
float: left;

}

.col1of2{
width: 50%;

}

.bg_red{
background-color: red;

}

.bg_blue{
background-color: blue;

}
